/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
  /* border: solid black 1px; */
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
}

button{
  display:block;
  margin: 0 auto;
}

input{
  display:block;
  margin: 50px auto 10px auto;
  
}

h1{
  text-align: center;
  /* color: dar; */
}

h2{
  margin: 40px 0;
}

.hide{
  display: none;
}

.show{
  display: block;
}

.container{
  display: flex;
  justify-content: center;

}

.cont-1, .cont-2{
  display: flex;
  flex: 1;
}

.key{
  flex: 2;
  text-align: center;
}

.value{
  flex: 1;
}

.change{
  font-weight: bold;
}

.bold{
  font-weight: bold;
}

@media screen and (max-width: 800px) {
  .container {
    display: block;
    text-align: center;
  }
  .key{
    flex: 1;
    text-align: center;
  }
  
  .value{
    flex: 1;
  }
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
